<!doctype html>
<html lang="em">
    <head>
        <meta charset="UTF-8">
        <title>Cats</title>
        <link rel="stylesheet" href="../public/style.css"
    </head>
    <body>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/new">Home</a></li>
            <li><a href="/">Home</a></li>
        </ul>
        <%=yield%>
    </body>
</html>